$catColors: (
  all: #e0e0e0,
  arts: #A5D4CB70,
  business: #CFCCE470,
  concert: #F29E9670,
  free: #C1D99170,
  grocery: #BA95BA70,
  pharm: #4BA05370,
  gov: #F7C58D70,
  religious: #92B7D070,
  restaurant: #EEB7D270,
  sports: #59BAA270,
  other: #F3E68C70
);

@each $cat, $color in $catColors {
  .title-#{$cat} {
    background-color: $color;
    padding: 3px 4px 2px 4px;
  }
}

.eventsContainer {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex-start;
  justify-content: space-between;
  margin-bottom: 150px;

  .eventCard {
    flex-basis: 32%;
    // max-width: 300px;
    border: 1px solid #CCCCCC;
    padding: 12px;
    margin: 6px 6px;

    h5 {
      display: inline-block;
      margin-bottom: 0;
      margin-top:0;
      text-transform: uppercase;
      font-family: "Benton Sans", sans-serif;
      font-size: 9px;
      font-weight: 400;
      letter-spacing: 0.6px;
      width: auto;
    }

    .city {
      font-size: 10px;
      color: #787878;
      font-family: "Benton Sans", sans-serif !important;
      margin-bottom: 8px !important;

      .open {
        color: #3c8259;
        font-weight: bold;
      }

      .closed {
        color: #d66400;
      }
    }

    h3 {
      font-size: 16px !important;
      margin-top: 8px;
      margin-bottom: 4px;
    }

    p {
      font-size: 14px;
      margin-top: 0;
      font-family: "Benton Sans", sans-serif !important;
    }
  }
}

@media(max-width: 950px) {
  .eventsContainer {
    justify-content: space-around;

    .eventCard {
      flex-basis: 40%;
    }
  }

}

@media(max-width: 550px) {
  .eventsContainer {
    flex-direction: column;
  }

  .strib-search {
    font-size: 20px;
    left: 30px;
    top: 45px;
  }

}
